{% extends "base.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/community/community.css' %}">{% endblock css %}

{% block content %}
<div class="bodyContent">
    <div class="sideMenu">
        {% if user.is_authenticated %}
        <div class="userBox">
            <div class="id_Section">
                <div>
                    <span class="userName">{{ user.username }}</span>
                </div>
                <div>
                    <button type="button" class="btn logoutBtn" onclick="location.href='accounts/logout'">로그아웃</button>
                </div>
            </div>
            <div class="menu_Section">
                <div class="container text-center">
                    <div class="row row-cols-2">
                      <a href="" class="menuList_a"><div class="col menuList" style="border-right: 1px solid #dddddd;">쪽지 <span class="menuList_count">0</span></div></a>
                      <a href="" class="menuList_a"><div class="col menuList">알림 <span class="menuList_count">0</span></div></a>
                      <a href="" class="menuList_a"><div class="col menuList" style="border-right: 1px solid #dddddd;">스크랩 <span class="menuList_count">0</span></div></a>
                      <a href="" class="menuList_a"><div class="col menuList">작성글 보기</div></a>
                    </div>
                </div>
            </div>
            <div class="btn_Section">
                <button type="button" class="btn createBtn" onclick="location.href=''">게시글 작성</button>
            </div>
        </div>
        {% else %}
        <div class="loginBox">
            <div>
                <img src="{% static 'images/loginImage.png' %}" alt="" class="loginImage">
            </div>
            <button type="button" class="btn loginBtn" onclick="location.href='accounts/login'">로그인을 해주세요</button>
        </div>
        {% endif %}
    </div>
    <div class="mainMenu">
        <h1>zz</h1>
    </div>
</div>
{% endblock content %}
