{% extends "base.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/community/detail.css' %}">{% endblock css %}

{% block content %}
<div class="header-2">
  <a href="{% url 'community:category' category_id=post.category.pk %}"><button class="category">{{ post.category }}</button></a>
  <h1 class="my-3">{{ post.title }}</h1> 
  <div class="d-flex">
    <span>{{ post.writer }}</span>
    <div style="width: 100%; margin-left: 6px;"> 
      <div class="d-flex" style="justify-content: space-between;">
        <span class="annotate">{{ post.created_at }}</span>
        <div>
          <span class="annotate">조회</span>
          <span class="annotate">추천</span>
          <span class="annotate">스크랩</span>
        </div>
      </div>     
    </div>
  </div>
</div>

<div class="body">
  <div class="post-contents">
    <p>{{ post.contents }}</p>
  </div>
</div>

{% endblock content %}