{% extends "base.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/community/detail.css' %}">{% endblock css %}

{% block mini-category %}
{% for c in category %}
<a href="{% url 'community:category' category_id=post.category.pk %}" class="a-text"><p class="p-text">{{ c.name }}</p></a>
{% endfor %}
{% endblock mini-category %}

{% block content %}
<div class="header-2">
  <a href="{% url 'community:category' category_id=post.category.pk %}"><button class="category">{{ post.category }}</button></a>
  <h1 class="my-3">{{ post.title }}</h1> 
  <div class="d-flex">
    <span>{{ post.writer }}</span>
    <div style="width: 100%; margin-left: 6px;"> 
      <div class="d-flex" style="justify-content: space-between;">
        <span class="annotate">{{ post.created_at }}</span>
        <div>
          <span class="annotate">조회 {{ post.views }}</span>
          <span class="annotate">추천 {{ post.likes.count }}</span>
          <span class="annotate">스크랩</span>
        </div>
      </div>     
    </div>
  </div>
</div>

<div class="body">
  <div class="post-contents">
    <p>{{ post.contents }}</p>
  </div>
</div>

<!-- 좋아요 -->
<div class="btn_box d-flex justify-content-center">
  {% if request.user.is_authenticated %}
      <form action="{% url 'community:like_post' category_id=post.category.pk pk=post.pk %}" method="post">
          {% csrf_token %}
            {% if request.user in post.likes.all %}
            <button type="submit" class="like_btn">
              <span>좋아요</span>
            </button>
            {% else %}
            <button type="submit" class="unlike_btn">
              <span>좋아요</span>
            </button>
            {% endif %}
      </form>
  {% endif %}
</div>

<!-- 댓글 -->
<div class="mt-5">
  <form action="{% url 'community:add_comment' category_id=post.category.pk pk=post.pk %}" method="post">
    {% csrf_token %}
    <div class="d-flex justify-content-center mb-5">
      <textarea name="content" rows="4" cols="100" class="comment-text"></textarea>
      <input type="submit" value="등록" class="comment-btn">
    </div>
  </form>

  {% for comment in post.comment_set.all %}
    <p>{{ comment.user.username }}</p>
    <p>{{ comment.content }}</p>
    <p style="font-size: 15px; color: gray;">{{ comment.created_at }}</p>
  {% endfor %}
</div>


{% endblock content %}