body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.main-banner img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* 탭 메뉴 스타일 */
.tab-menu {
  display: flex;
  justify-content: center;
  margin: 3rem 0rem 3rem 0rem;
  flex-wrap: wrap; /* 탭 버튼들이 화면 크기에 따라 줄바꿈 되도록 함 */
  gap: 30px;
}

/* 탭 버튼 스타일 */
.tab-link {
  background-color: #ffffff;
  border: 1px solid gray;
  outline: none;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  flex: 1; /* 각 탭 버튼이 동일한 크기를 가지도록 함 */
  max-width: 135px; /* 각 탭 버튼의 최대 너비를 설정 */
}

/* 탭 버튼 호버 스타일 */
.tab-link:hover {
  background-color: #eeeeee;
}

/* 활성화된 탭 버튼 스타일 */
.tab-link.active {
  background-color: #363636;
  color: white;
}

/* 탭 콘텐츠 스타일 */
.tab-content {
  display: none;
  padding: 20px;
  margin: 30px auto; /* 수평 가운데 정렬을 위해 margin을 auto로 설정 */
  max-width: 1280px; /* 탭 콘텐츠의 최대 너비를 설정 */
  background-color: #fff;
  text-align: center;
}

.card-img-top {
  height: 350px;
  width: 100%;
  object-fit: cover;
  transform:scale(1.0);        
  transition: transform .3s; 
  border-radius: 0px;
}

.card-img-top:hover {
  transform: scale(1.03);
  transition: transform .3s; 
}

.card {
  border: 0px;
  border-radius: 0px;
  cursor: pointer;
}

.card-text {
  color: rgb(165, 165, 165);
  font-size: 15px;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .tab-link {
      font-size: 14px;
      padding: 12px 10px;
      max-width: 100%; /* 모바일 화면에서 각 탭 버튼이 전체 너비를 차지하도록 함 */
  }

  .tab-menu {
      gap: 5px; /* 모바일 화면에서 탭 버튼들 사이의 간격을 줄임 */
  }

  .tab-content {
      padding: 15px;
  }

  .main-banner img {
    display: none;
  }
}

@media (max-width: 480px) {
  .tab-link {
      font-size: 12px;
      padding: 10px 5px;
  }

  .tab-menu {
      gap: 2px; /* 작은 화면에서 탭 버튼들 사이의 간격을 더 줄임 */
  }

  .tab-content {
      padding: 10px;
  }

  .main-banner img {
    display: none;
  }
}

