
.header-1 {
  border-bottom: 1px solid rgb(223, 223, 223);
}

.header-2 {
  margin-top: 25px;
  border-bottom: 1px solid rgb(223, 223, 223);
  padding-bottom: 25px;
}

.category {
  padding: 5px 5px 5px 5px;
  color: rgb(0 163 163);
  border: 1px solid rgb(198 255 255);
  background-color: rgb(198 255 255);
  border-radius: 3px;
}

.annotate {
  color: rgb(172, 172, 172);
}

.post-contents {
  margin-top: 3rem;
  margin-bottom: 3rem;
}