.loginBox {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 600px;
    min-height: 100vh;
    margin: 0px auto;
}

.loginLogo {
    width: 100px;
    margin-bottom: 2rem;
}

.loginBtn {
    cursor: pointer;
    margin-bottom: 16px;
    padding: 0px 16px;
    height: 48px;
    width: 220px;
}